<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
      <link th:href="@{/css/Style.css}" rel="stylesheet">

    
  </head>
  <body>
      <div class="menu" id="menu">"Each patient carries his or her own doctor inside him or her"</div>
      <div class="form" id="form">


          <a th:href="@{/PatientHome}"><button id="button2" class="button" style="background-color: skyblue">Patient</button></a>
          <a th:href="@{/DoctorHome}"><button id="button4" class="button" style="background-color: skyblue">Doctor</button></a>
      </div>


      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>
