<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/STyLe.css}" rel="stylesheet">


</head>
<body>
<div class="menu" id="menu">
    <a th:href="@{/PatientDoctors}">Doctors &ensp;</a>
    <a th:href="@{/PatientAppointments}"> Appointments &ensp;</a>
    <a th:href="@{/PatientPharmacy}"> Pharmacy &ensp;</a>
    <a th:href="@{/PatientPrescriptions}"> Prescriptions &ensp;</a>
    <a th:href="@{/PatientEducation}">Education &emsp; &emsp; &emsp;
        &emsp;</a>

    <div class="dropdown" style="float:left;">
        <button class="dropbutton"><div sec:authentication="name"></div></button>
        <div class="dropdown-content" style="left:0;">

            <a th:href="@{/PatientAccount}">Account</a>

            <a th:href="@{/PatientMessages}">Messages</a>
            <a th:href="@{/PatientNotifications}">Notifications</a>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>

        </div>
    </div>
</div>

<div><label id="general" style="background-color: red">Doctors</label></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
